<header class="top-bar" role="banner">
    <div class="top-bar__inner">

        <img src="/images/iconKhan.png" alt="Terence Khan Handyman" class="site-icon">
        <span class="site-title">Terence Khan || Handyman</span>

    </div>
        <nav class="top-nav">
            <div class="top-nav__inner">
                <a href="/index.html">Home</a>
                <a href="/pages/about.html">About</a>
                <a href="/pages/gallery.html">Gallery</a>
                <a href="/pages/contact.html">Contact</a>
                <a href="/pages/services.html">Services</a>
                <a href="/pages/territory.html">Territory</a>
             </div>
        </nav>
</header>
